@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  font-size: 18px;
  font-family: "Roboto Mono";
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  width: 100vw;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.5);
  box-shadow: 0 1em 1.5em rgba(200, 200, 200, 0.5);
  margin-top: -5.5em;
  transition: margin-top 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header:hover {
  margin-top: 0;
}

header:hover .fa-chevron-down {
  transform: rotate(180deg);
}

header > div {
  width: 100%;
  padding: 1em;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.header-controls {
  all: unset;
  margin-left: auto;
  font-size: 1.8em;
  font-weight: bold;
  transition: background-color 200ms;
  border-radius: 0.5em;
  padding: 0.2em;
}

.header-controls:hover {
  background-color: rgba(200, 200, 200, 0.6);
  text-decoration: underline;
}

.fa-chevron-down {
  font-size: 1.5rem;
  transition: transform 300ms;
}

.controls {
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: rgb(37, 37, 37) 0.4em 0.4em 0.4em;
  display: flex;
  flex-direction: column;
}

.controls button {
  padding: 0.5em;
  background-color: rgb(226, 93, 69);
  border-radius: 0.4em;
  font-size: 1em;
  outline: none;
  align-self: flex-end;
}

.controls h3 {
  margin: 0;
}

.controls-background {
  all: unset;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}